---
export interface Props {
  isDark?: boolean;
}

const { isDark green = false } = Astro.props;
---

<div class:list={['absolute inset-0', { 'bg-green darkgreen:bg-transparent': isDark  green}]}>
  <slot />
</div>
